<div class="alert alert-info">
  <%= link_to "Manage Kiosks", rails_admin.index_path('Kiosk'), class: 'btn btn-primary' %>
  <%= link_to "View Slides", rails_admin.index_path('slide'), class: "btn btn-primary mr-2" %>
  <%= link_to "Add New Slide", rails_admin.new_path('slide'),   class: "btn btn-success" %>

</div>
