<div id="<%= dom_id kiosk %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= kiosk.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Slug:</strong>
    <%= kiosk.slug %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Catalog url:</strong>
    <%= kiosk.catalog_url %>
  </div>
</div>
